<template id="gmail-credentials">
  <div class="page">
    <div class="pg-hdr">
      <div>
        <h1>Gmail Credentials</h1>
        <div class="pg-sub">Manage Gmail accounts used by projects to join Google Meet</div>
      </div>
      <div class="pg-actions" data-bind="actions"></div>
    </div>
    <div data-bind="alertContainer"></div>
    <div data-bind="credentialsList">
      <div class="loading">
        <div class="loading-spinner"></div>
        <div class="loading-text">Loading credentials...</div>
      </div>
    </div>
  </div>
</template>
