<template id="projects">
  <div class="page">
    <div class="pg-hdr">
      <div>
        <h1>Projects</h1>
        <div class="pg-sub">Manage projects and user assignments</div>
      </div>
      <div class="pg-actions" data-bind="actions"></div>
    </div>
    <div class="filters" data-bind="filters"></div>
    <div data-bind="table">
      <div class="loading">
        <div class="loading-spinner"></div>
        <div class="loading-text">Loading projects...</div>
      </div>
    </div>
  </div>
</template>
